/*----- CONTACTO -----*/

#contacto{
    margin: 10px auto;
    padding: 75px 15px;
    height: 100vh;
    background-color: var(--color-gris-claro);
    font-family: var(--font-family);
}

.contacto .titulo {
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--color-azul);
    text-decoration: underline;
    text-decoration-color: var(--color-text-decoration);
    text-decoration-thickness: 5px;;
}

.contacto .contenedor{
    width: 95%;
    margin: 0px auto;
    padding: 45px 0;
}

.contacto .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;   
}

.contacto .formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.contacto .formulario__grupo-input{
    position: relative;
    margin: 5px 0;
}

.contacto .formulario__input{
    width: 100%;
    border: 3px solid var(--color-redes);
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.contacto .formulario__input:focus{
    border: 3px solid var(--color-naranja);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, .4);
}

.contacto .formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.contacto .formulario__input-error-activo{
    display: block;
}

.contacto .formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
 
.contacto .formulario__mensaje,
.contacto .formulario__grupo-btn-enviar{
    grid-column: span 2;
}


.contacto .formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.contacto .formulario__mensaje-activo{
    display: block;
}

.contacto .formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto .formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--color-naranja);
    color: var(--color-blanco);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 15px;
    margin-bottom: 10px;
}

.contacto .formulario__btn:hover{
    background: var(--color-azul);
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.contacto .formulario__mensaje-exito{
    font-size: 14px;
    color: #288d31;
    display: none;
}

.contacto .formulario__mensaje-exito-activo{
    display: block;
}


/*----VALIDACION----*/

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;    
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

@media screen and (max-width: 800px){
    .contacto .formulario{
        grid-template-columns: 1fr;
    }
    .contacto .formulario__mensaje,
    .contacto .formulario__grupo-btn-enviar{
        grid-column: 1;
    }
    .contacto .formulario__btn{
        width: 50%;
        margin-top: 8px;
    }
    .contacto .formulario__input{
        padding: 0 30px 0 10px;
    }
}